= form_with(model: courier) do |form|
  = form.label(:name, 'Enter Name:')
  = form.text_field(:name)
  %br

  = form.label(:email, 'Enter Email:')
  = form.text_field(:email)
  %br

  = form.submit button_text
