= form_with(url: courier_packages_path(courier), scope: 'package') do |form|
  = form.label(:tracking_number, 'Enter Tracking Number')
  = form.text_field :tracking_number
  %br

  = form.label(:delivery_status, "Package is delivered ?")
  = form.check_box :delivery_status
  %br

  = form.submit 'Add Package'
