%h1 Couriers

= link_to 'Create Courier', new_courier_path

- @couriers.each do |courier|
  %table
    %tr
      %td= courier.name
      %td= courier.email
      %td= link_to 'Show', courier_path(courier)
      %td= link_to 'Edit', edit_courier_path(courier)
      %td= link_to 'Destroy', courier_path(courier), method: :delete
